@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <title>Proiect_TWEB | @ViewBag.title </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <!-- App favicon -->
     <link rel="shortcut icon" href="~/Content/images/favicon.ico">

     <!-- App css -->
     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/icons/css")
     @Styles.Render("~/bundles/app/css")

<!-- Add local styles, mostly for plugins css file -->
@if (IsSectionDefined("Styles"))
{ @RenderSection("Styles", required: false)}

<!-- Primary HOME style -->
@Styles.Render("~/bundles/main/css")
</head>

<body>
<!-- Header -->
     <!-- Begin page -->
     <div id="wrapper">
          <!-- Topbar Start -->
          <div class="navbar-custom">
               @Html.Partial("_Header")
          </div>
          <!-- Naviation -->
          <div class="left-side-menu">
               @Html.Partial("_Navigation")
          </div>
          <!-- Main view -->
          <div class="content-page">
               @RenderBody()
               <!-- Footer -->
               @Html.Partial("_Footer")
          </div>

          @Scripts.Render("~/bundles/vendor/js")
          @Scripts.Render("~/bundles/jquery-knob/jquery/js")
          @Scripts.Render("~/bundles/peity/jquery/js")
          @Scripts.Render("~/bundles/jquery-sparkline/js")
          @Scripts.Render("~/bundles/dashboard/js")
          @Scripts.Render("~/bundles/app/js")
          <!-- Handler for local scripts -->
          @RenderSection("scripts", required: false)
     </div>               
</body>

</html>
